{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "enzyme": false,
    "expect": false,
    "mount": false,
    "shallow": false,
    "render": false
  },
  "plugins": ["mocha"],
  "rules": {
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "react/forbid-foreign-prop-types": "off",
    "react/prop-types": "off"
  }
}
