{
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "../*",
          "./*",
          "docs/src/examples/*"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["index.js"],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}
