html,
body {
  background: #f7f7f7 !important;
}

.anchorjs-link {
  position: absolute;
  transition: margin-left 0.25s, color 0.25s, opacity 0.25s;
  margin-left: -0.2em;
  color: #777;
  opacity: 0;
}

blockquote {
  border-left: 3px solid rgba(34, 36, 38, 0.15);
  margin-left: 0;
  padding-left: 10px;
  font-style: italic;
}

h1:hover > .anchorjs-link:not(:hover),
h2:hover > .anchorjs-link:not(:hover),
h3:hover > .anchorjs-link:not(:hover),
h4:hover > .anchorjs-link:not(:hover),
h5:hover > .anchorjs-link:not(:hover),
h6:hover > .anchorjs-link:not(:hover) {
  margin-left: 0;
  opacity: 0.5;
}

.anchorjs-link:hover {
  margin-left: 0;
  color: cornflowerblue;
  opacity: 1;
}

#introduction-page p {
  font-size: 1.125em;
  margin: 1.5em 0;
}

pre {
  margin: 0;
}

code:not([class*='language-']) {
  font-size: 87.5%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  white-space: pre;
  display: inline-block;
}

code:not([class*='language-'])::before {
  letter-spacing: -0.2em;
  content: '\00a0';
}

code:not([class*='language-'])::after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

.docs-example {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
}

.docs-example:hover {
  box-shadow: 0 2px 8px #bbb;
}

.docs-example.active {
  box-shadow: 0 8px 32px #aaa;
}

.docs-icon-set-column {
  cursor: pointer;
}

.docs-icon-set-column .icon {
  font-size: 2em;
  color: #555;
  transform: scale(1);
  transition: opacity 0.2s, color 0.2s, transform 0.2s;
}

.docs-icon-set-column .name {
  display: block;
  margin: 1em 0;
  color: #777;
}

.docs-icon-set-column:hover > .icon,
.docs-icon-set-column:hover > .name {
  color: #000;
}

.docs-icon-set-column:hover > .icon {
  transform: scale(1.5);
}

#docs-carbonads {
  background: #222;
  box-shadow: 0 0 2em black;
  border-top: 1px solid #444;
  min-height: 150px;
}

#carbonads {
  padding: 8px 8px;
  line-height: 1.2;
}

#carbonads img {
  display: block;
  margin: 0 auto 4px auto;
}

.carbon-text {
  font-size: 13px;
  color: #aaa;
}

.carbon-text:hover {
  color: #ddd;
}

.carbon-poweredby {
  margin-left: 8px;
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
  white-space: nowrap;
}

.carbon-poweredby:hover {
  color: #ddd;
}

/* --- */

.token.deleted {
  color: #e2777a;
}

.token.inserted {
  color: #7ec699;
}
