{
  "presets": [
    "./build/preset-es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    "lodash",
    "transform-react-handled-props",
    ["transform-react-remove-prop-types", {
      "mode": "wrap"
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ],
  "env": {
    "development": {
      "plugins": "react-hot-loader/babel"
    },
    "test": {
      "plugins": [
        ["istanbul", { "include": ["src"] }]
      ]
    }
  }
}
