{
  "extends": [
    "ta",
    "ta/frontend"
  ],
  "rules": {
    "complexity": [1, 10],
    "consistent-return": 0,
    "no-confusing-arrow": 0,
    "react/sort-comp": 0,
    "valid-jsdoc": 0,
    "react/jsx-curly-spacing": 0,
    "padded-blocks": [2, {
      "blocks": "never",
      "switches": "never",
      "classes": "never"
    }]
  }
}
