<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- baseHref value already includes quotes "/foo" -->
  <base href=<%= htmlWebpackPlugin.options.baseHref %> />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/<%= htmlWebpackPlugin.options.versions.highlightjs %>/styles/github.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/<%= htmlWebpackPlugin.options.versions.sui %>/semantic.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/Faker/<%= htmlWebpackPlugin.options.versions.faker %>/faker.min.js"></script>
  <title>Stardust</title>
  <script>
    // Apply gh-pages SPA redirect that was applied in 404.html
    (function() {
      var redirect = sessionStorage.redirect
      delete sessionStorage.redirect
      if (redirect && redirect !== location.href) {
        history.replaceState(null, null, redirect)
      }
    })()
  </script>
</head>
<body>

</body>
</html>
