version: 2.1

general:
  branches:
    ignore:
      - gh-pages

orbs:
  codecov: codecov/codecov@1.1.1

docker_defaults: &docker_defaults
  docker:
    - image: circleci/node:12-browsers
  working_directory: ~/project/semantic-ui-react

restore_node_modules: &restore_node_modules
  restore_cache:
    name: Restore node_modules cache
    keys:
      - v3-node-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - v3-node-{{ .Branch }}-
      - v3-node-

jobs:
  bootstrap:
    <<: *docker_defaults
    steps:
      - checkout
      - *restore_node_modules
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save yarn cache
          key: v3-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - .cache/yarn
      - save_cache:
          name: Save node_modules cache
          key: v3-node-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/
      - run:
          name: Remove node_modules to cleanup workspace
          command: rm -r node_modules/
      - persist_to_workspace:
          root: ~/project
          paths:
            - yarn

  test:
    <<: *docker_defaults
    steps:
      - attach_workspace:
          at: ~/project
      - *restore_node_modules
      - run:
          name: Test JavaScript
          command: yarn test
      - codecov/upload:
          file:
      - run:
          name: Test TypeScript
          command: yarn tsd:test
      - run:
          name: Test UMD bundle
          command: yarn test:umd

  lint:
    <<: *docker_defaults
    steps:
      - attach_workspace:
          at: ~/project
      - *restore_node_modules
      - run:
          name: Lint TypeScript
          command: yarn tsd:lint
      - run:
          name: Lint JavaScript
          command: yarn lint
