version: 2
jobs:
  build:
    filters:
      branches:
        ignore: gh-pages
    docker:
      - image: circleci/node:6
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    steps:
      - checkout
      - run:
          name: Update yarn
          command: |
            # remove default yarn
            sudo rm -rf $(dirname $(which yarn))/yarn*
            # download latest
            rm -rf ~/.yarn
            curl -o- -L https://yarnpkg.com/install.sh | bash
            echo 'export PATH="${PATH}:${HOME}/.yarn/bin"' >> $BASH_ENV
      # because we don't invoke npm (yarn), we need to add npm bin to PATH manually
      - run:
          name: Add npm bin to PATH
          command: echo 'export PATH="${PATH}:$(npm bin)"' >> $BASH_ENV
      # - restore_cache:
      #     keys:
      #       - v1-dependencies-{{ checksum "yarn.lock" }}
      #       - v1-dependencies
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - .yarn-cache
            - node_modules
      - run: yarn lint
      - run: yarn tsd:lint
      - run: yarn tsd:test
      - run: yarn test
      - run: bash <(curl -s https://codecov.io/bash)
