{
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PATH_SEP__": false,
    "__PROD__": false
  },
  "rules": {
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-array-index-key": 0,
    "react/no-render-return-value": 0,
    "react/no-unescaped-entities": 0
  }
}
